[Unit]
Description=Nettoyage et sauvegarde
After=network-online.target
Wants=network-online.target
ConditionFileIsExecutable=/home/kratos/Documents/Linux/backup_nettoyage.sh

[Service]
Type=oneshot
ExecStart=/home/kratos/Documents/Linux/backup_nettoyage.sh
