[Unit]
Description=Timer for backup_nettoyage.service

[Timer]
OnCalendar=Fri *-*-* 10:00:00
OnBootSec=1min
Persistent=true

[Install]
WantedBy=timers.target
